extends layout

block content

  div.container-fluid
    .col-md-12
      div.row.row-centered
        .col-md-12
          .col-md-12.content
            .col-md-2.user-bg
              img(src="/images/placeholder.png")
            .col-md-4

              each volunteer in volunteers
                p #{volunteer.account_id}
                p #{volunteer.first_name}
                p #{volunteer.last_name}
                p #{volunteer.email}
                p #{volunteer.gender}

        .col-md-12
          form(role="form", action="volunteer/new", method="post")
            h3 New
            input(type='text', name="first_name", placeholder='Enter firstname')
            input(type='text', name="last_name", placeholder='Enter lastname')
            label Male
              input(type="radio", value="male", name="gender")
            label Female
              input(type="radio", value="female", name="gender")
            input(type="submit")