extends ../layout

block content
  -function format_date(date){
  - var newDate = new Date(date);
  - var y = newDate.getFullYear();
  - var month = new Array(); 
  - month[0] = '01';
  - month[1] = '02';
  - month[2] = '03';
  - month[3] = '04';
  - month[4] = '05';
  - month[5] = '06';
  - month[6] = '07';
  - month[7] = '08';
  - month[8] = '09';
  - month[9] = '10';
  - month[10] = '11';
  - month[11] = '12'; 
  - var m = month[newDate.getMonth()];
  - var d = newDate.getDate();
  - if (d <10) d= '0'+d;
  - return d+'/'+m+'/'+y;
  -}
  -function bar_size(size){
  -var barSize = Math.round(size*1.5);
  -if(barSize >= 100) barSize = 80;
  -return barSize + '%'
  -}
  -function color_opacity(size){
  -var opacity = size/100*1.5;
  -if(opacity >= 1) opacity = 1;
  -return opacity
  -}


  div.container-fluid.profile_container
    div.row.row-centered
      div.col-md-10.col-md-push-1.col-xs-12.col-sm-12.no-gutter_l.content
        .col-md-12.col-sm-12.col-xs-12
          .col-md-2.user-bg
            img(src="/volunteer/photo/#{volunteer._id}")
          .col-md-5
              h3 #{volunteer.first_name} #{volunteer.last_name}
                - if (volunteer.gender == 'male')
                  img(src="/images/male.svg", class="ico")
                - else if (volunteer.gender == 'female')
                  img(src="/images/female.svg", class="ico")
              p
                - if (volunteer.birthdate)
                  em #{format_date(volunteer.birthdate)}
                  -var hours = 0;
                  each experience in experiences
                    each activity, i in experience.activities
                      - hours += activity.hours
                  p Accumulated hours: <em>#{hours}</em>

          .col-md-5.info
            - if (volunteer.position == 'student' && volunteer.university)
              p Current position: <em>#{capitalize(volunteer.position)} at #{volunteer.university}</em>
            - else if (volunteer.position == 'student' && !volunteer.university)
              p Current position: <em>#{capitalize(volunteer.position)}</em>
            - else if (volunteer.position == 'employed' && volunteer.company)
              p Current position: <em>#{capitalize(volunteer.position)} at #{volunteer.company}</em>
            - else if (volunteer.position == 'employed' && !volunteer.company)
              p Current position: <em>#{capitalize(volunteer.position)}</em>
            - else
              p Current position: <em>#{volunteer.position}</em>
            p Postcode: <em>#{volunteer.postcode}</em>
    
    div.row.row-centered
      div.col-md-10.col-md-offset-1.content.skills
        .col-md-12
          .col-md-12
            h2 Skills
            each skills in volunteer_skills
              each skill in skills
                .col-md-12.no-gutter_l
                  .bar(style="width:#{bar_size(skill.sum_hours)};background-color:rgba(162, 255, 0, #{color_opacity(skill.sum_hours)})")
                    span #{skill._id.name}
                  span #{skill.sum_hours} hours
            
    div.row.row-centered
      div.col-md-10.col-md-offset-1.content.XP
        .col-md-12
          .col-md-12
            h2 Experiences

            each experience, i in experiences
              .col-md-9
                p.charity_name #{experience.nonprofit.name}
                p #{experience.start_date}
                p #{experience.description}
                p <em>#{experience.totalHours}</em> accumulated hours
                - if (experience.skills_list.length > 0)
                  p Skills acquired: 
                    each skill, i in experience.skills_list
                      em
                      if (i == 0)
                        span #{skill.name}
                      else
                        span , #{skill.name}

                p <u><a href="#" id="reco">1 recommendation</a></u>
              .col-md-2.col-md-offset-1
                img(src="/images/img_placeholder.png")

              - if (!(i == experience.length-1))
                .separator.col-md-2.col-md-offset-5
          

    div.row.row-centered
      div.col-md-10.col-md-offset-1.content.recommendation
        .col-md-12
          .col-md-12
            h2 Recommendations

          .col-md-1.user-md
            img(src="/images/placeholder.png")
          .col-md-10
            p.manager_name Tom Scott - Red Cross London
            img(src="/images/stars.svg", width="100px")
            p During these 5 months of volunteering, John has been I lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.


  script.
    $(document).ready(function() {
      $('#reco').on("click", function(){
        $('html, body').animate({
          scrollTop: $(".recommendation").offset().top
        }, "slow");
      })
    });


