extends ../layout

block content
  -function format_date(date){
  - var newDate = new Date(date);
  - var y = newDate.getFullYear();
  - var month = new Array(); 
  - month[0] = '01';
  - month[1] = '02';
  - month[2] = '03';
  - month[3] = '04';
  - month[4] = '05';
  - month[5] = '06';
  - month[6] = '07';
  - month[7] = '08';
  - month[8] = '09';
  - month[9] = '10';
  - month[10] = '11';
  - month[11] = '12'; 
  - var m = month[newDate.getMonth()];
  - var d = newDate.getDate();
  - if (d <10) d= '0'+d;
  - return d+'/'+m+'/'+y;
  -}
  -function bar_size(size){
  -var barSize = Math.round(size/4);
  -if(barSize >= 400) barSize = 100;
  -return barSize + '%'
  -}
  -function color_opacity(size){
  -var opacity = size/100;
  -if(opacity >= 1) opacity = 1;
  -if(opacity <= 0.1) opacity = 0.1;
  -return opacity
  -}
  -function plurialize_reco(number){
  -if (number == 1) return number + ' recommendation'
  -else return number + ' recommendations'
  -}

  div.container-fluid.profile_container
    div.row.row-centered
      div.col-md-10.col-md-push-1.col-xs-12.col-sm-12.no-gutter_l.content
        .col-md-12.col-sm-12.col-xs-12
          .col-md-2.col-xs-12.user-bg.text-center
            img(src="/volunteer/photo/#{volunteer._id}")
          .col-md-5.col-xs-12
              h3 #{volunteer.first_name} #{volunteer.last_name}
                - if (volunteer.gender == 'male')
                  img(src="/images/male.svg", class="sex")
                - else if (volunteer.gender == 'female')
                  img(src="/images/female.svg", class="sex")
              p
                -var hours = 0;
                each experience in experiences
                  - hours += experience.totalHours
                p Accumulated hours: <em>#{hours}</em>

          .col-md-5.info
            - if (volunteer.position == 'student' && volunteer.university)
              p Current position: <em>#{capitalize(volunteer.position)} at #{volunteer.university}</em>
            - else if (volunteer.position == 'student' && !volunteer.university)
              p Current position: <em>#{capitalize(volunteer.position)}</em>
            - else if (volunteer.position == 'employed' && volunteer.company)
              p Current position: <em>#{capitalize(volunteer.position)} at #{volunteer.company}</em>
            - else if (volunteer.position == 'employed' && !volunteer.company)
              p Current position: <em>#{capitalize(volunteer.position)}</em>
            - else if (volunteer.position)
              p Current position: <em>#{volunteer.position}</em>
            - if (volunteer.graduate && volunteer.discipline && volunteer.graduation_year) 
              p <em>#{capitalize(volunteer.graduate)}</em> in <em>#{volunteer.discipline}</em>, graduating in <em>#{volunteer.graduation_year}</em>
            - else if (volunteer.graduate && volunteer.discipline && !volunteer.graduation_year)
              p <em>#{capitalize(volunteer.graduate)}</em> in <em>#{volunteer.discipline}</em>
            - else if (volunteer.graduate && !volunteer.discipline && !volunteer.graduation_year)
              p <em>#{capitalize(volunteer.graduate)}</em>
            - else if (volunteer.graduate && !volunteer.discipline && volunteer.graduation_year)
              p <em>#{capitalize(volunteer.graduate)}</em>, graduating in <em>#{volunteer.graduation_year}</em>
            - else if (!volunteer.graduate && volunteer.discipline && !volunteer.graduation_year)
              p Studying in <em>#{volunteer.discipline}</em>
            - else if (!volunteer.graduate && !volunteer.discipline && volunteer.graduation_year)
              p Graduating in <em>#{volunteer.graduation_year}</em>
            - else if (!volunteer.graduate && volunteer.discipline && volunteer.graduation_year)
              p Studying in <em>#{volunteer.discipline}</em>, graduating in <em>#{volunteer.graduation_year}</em>
    

    -if (volunteer_skills.skills.length > 0)
      div.row.row-centered
        div.col-md-10.col-md-offset-1.content.skills
          .col-md-12
            .col-md-12
              h2 Skills
              each skills in volunteer_skills
                each skill in skills
                  .col-md-12.no-gutter_l.barContainer
                    .bar(style="width:#{bar_size(skill.sum_hours)};background-color:rgba(162, 255, 0, #{color_opacity(skill.sum_hours)})")
                      span #{skill._id.name}
    
    if (experiences.length > 0)       
      .row.row-centered
        .col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content.XP
          .col-md-12.col-xs-12.col-sm-12
            .col-md-12.col-xs-12.col-sm-12
              h2 Experiences

              each experience, i in experiences
                -if (experience.totalHours > 0)
                  .col-md-9.col-xs-12.col-sm-12.no-gutter_l
                    p.charity_name #{experience.nonprofit.name}
                    p #{experience.start_date}
                    p #{experience.description}
                    p <em>#{experience.totalHours}</em> accumulated hours
                    - if (experience.skills_list.length > 0)
                      p Skills acquired: 
                        each skill, i in experience.skills_list
                          em
                            if (i == 0)
                              span #{skill.name}
                            else
                              span , #{skill.name}
                    - if (experience.recommendation_number > 0)
                        p <u><a href="#" class="reco">#{plurialize_reco(experience.recommendation_number)}</a></u>
                  .col-md-2.col-md-offset-1
                    img(src="/images/img_placeholder.png")
    
                  - if (!(i == experience.length-1))
                    .separator.col-md-2.col-md-offset-5
          
    -if (recommendations.recommendations.length > 0)
      div.row.row-centered
        div.col-md-10.col-md-offset-1.content.recommendation
          .col-md-12
            .col-md-12
              h2 Recommendations

              each recommendation in recommendations.recommendations
                .col-md-12.col-sm-12.col-xs-12.no-gutter
                  p.manager_name #{recommendation.recommendation.referee_name} from #{recommendation.nonprofit} 
                  p #{recommendation.recommendation.recommendation}
                .col-md-2.break


  script.
    $(document).ready(function() {
      $('.reco').on("click", function(e){
        e.preventDefault();
        $('html, body').animate({
          scrollTop: $(".recommendation").offset().top
        }, "slow");
      })
    });


