extends ../layout

block content
  -function plurialize_hour(number){
  -if (number == 1) return number + ' hour'
  -else return number + ' hours'
  -}

  div.container-fluid
    div.row.row-centered
      div.col-md-10.col-md-offset-1.content
        .col-md-12
          h3 Volunteer results
          p.liner Here you can track the student volunteering hours made by your students.
        .col-md-12.break
        .col-md-12.col-sm-12.col-xs-12
          .panel-group#accordion
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(data-toggle="collapse", data-parent="#accordion", href="#collapse-month") By Month
              .panel-collapse.collapse#collapse-month
                .panel-body.table-responsive
                  table.col-md-12.table.table-bordered.table-hover
                    tr
                      th Student
                      th September
                      th October
                      th November
                      th December
                      
                    each students in perMonth
                      tr
                        td #{students.volunteer.first_name} #{students.volunteer.last_name}
                        each activity, i in students.activities
                          -if (i<4)
                            -if (activity.month >= 9 && activity.month <= 12)
                              -if (activity.month == 9)
                                td #{plurialize_hour(activity.hours)}
                              -else if ((activity.month > 9) && (activity.month == month +1))
                                td #{plurialize_hour(activity.hours)}
                              -else
                                -var n=1
                                while n < (activity.month - month)
                                  td 0 hour
                                  span(style="display:none")= n++
                                  //- input(type="hidden" value="n++")
                                td #{plurialize_hour(activity.hours)}
                                //- td 0 hour
                              - var month = activity.month;


            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href="#collapse-discipline", data-toggle="collapse", data-parent="#accordion") By Discipline
              .panel-collapse.collapse.in#collapse-discipline
                .panel-body.table-responsive
                  table.col-md-12.table.table-bordered.table-hover
                    tr
                      th Discipline
                      th September
                      th October
                      th November
                      th December
                    each discipline in perDiscipline
                      tr 
                        td #{discipline.discipline}
                        each hour, i in discipline.hours
                          -if (i<4)
                            -if (hour._id.month >= 9 && hour._id.month <= 12)
                              -if (hour._id.month == 9)
                                td #{plurialize_hour(hour.sum_hours)}
                              -else if ((hour._id.month > 9) && (hour._id.month == month +1))
                                td #{plurialize_hour(hour.sum_hours)}
                              -else
                                -var n=1
                                while n < (hour._id.month - month)
                                  td 0 hour
                                  span= n++
                                  //- input(type="hidden" value="n++")
                                td #{plurialize_hour(hour.sum_hours)}
                                //- td 0 hour
                              - var month = hour._id.month;

                    tr
                      td Law
                      td 10 hours
                      td 12 hours
                      td 15 hours
                      td 8 hours
                    tr
                      td Computer science
                      td 9 hour
                      td 12 hours
                      td 8 hours
                      td 5 hours

            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href="#collapse-graduation", data-toggle="collapse", data-parent="#accordion") By Graduation Year
              .panel-collapse.collapse#collapse-graduation
                .panel-body.table-responsive
                  table.col-md-12.table.table-bordered.table-hover
                    tr
                      th Graduation
                      th September
                      th October
                      th November
                      th December
                    tr
                      td 2015
                      td 10 hours
                      td 12 hours
                      td 15 hours
                      td 8 hours
                    tr
                      td 2016
                      td 9 hour
                      td 17 hours
                      td 18 hours
                      td 27 hours

            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href="#collapse-undergrade", data-toggle="collapse", data-parent="#accordion") Undergraduate vs. Postgraduate
              .panel-collapse.collapse#collapse-undergrade
                .panel-body.table-responsive
                  table.col-md-12.table.table-bordered.table-hover
                    tr
                      th Status
                      th September
                      th October
                      th November
                      th December
                    tr
                      td Undergraduate
                      td 100 hours
                      td 112 hours
                      td 88 hours
                      td 90 hours
                    tr
                      td Postgraduate
                      td 123 hour
                      td 117 hours
                      td 124 hours
                      td 117 hours

            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href="#collapse-active", data-toggle="collapse", data-parent="#accordion") Active vs. non-active 
              .panel-collapse.collapse#collapse-active
                .panel-body.table-responsive
                  table.col-md-12.table.table-bordered.table-hover
                    tr
                      th Student
                      th Status
                    tr
                      td John Doe
                      td Active
                    tr
                      td James Smith
                      td Non-active
                    tr 
                      td Jack John
                      td Active